.editable-field {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
  max-width: 600px;
  position: relative;
}

.editable-field h2 {
  margin: 0;
  font-size: 18px;
  color: #bfbfd4;
  min-width: 90px;
}

.editable-field input {
  flex: 1;
  height: 44px;
  padding: 8px 44px 8px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.04);
  color: #fff;
  font-size: 16px;
  font-family: 'Merriweather', sans-serif;
  outline: none;
  
}
.editable-field input:focus {
  border-color: rgba(255,255,255,0.25);
  background: rgba(255,255,255,0.06);
}


.editable-field input[readonly] {
  opacity: 0.9;
  cursor: default;
}

.editable-field {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

/* текст слева — фикс */
.profile-title {
  margin: 0;
  white-space: nowrap;
}

/* зона инпута */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.redactor {
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.redactor:hover img {
  opacity: 1;
}

.toggle-pass {
  right: 60px;
}

.toggle-pass img {
  width: 45px;
  height: 45px;
  opacity: 0.7;
}

.toggle-pass:hover img {
  opacity: 1;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
  width: 100%;
  max-width: 720px;
  padding: 24px;
  border-radius: 16px;
}
.profile-title {
  font-family: 'Merriweather', sans-serif;
  margin: 0;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.content{
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.fancy-frame {
  position: relative;
  padding: 28px 36px;
  border: 2px solid #c7b7ff;
  border-radius: 18px;
  background: rgba(255,255,255,0.05);
  color: #fff;
  max-width: 520px;
  margin: 40px auto;
  font-family: 'Merriweather', sans-serif;
  font-size: 56px;
}

.fancy-frame::before,
.fancy-frame::after {
  content: "✯";
  position: absolute;
  color: #f83131;
  font-size: 36px;
}

.fancy-frame::before {
  top: -20px;
  left: -20px;
  
}

.fancy-frame::after {
  bottom: -18px;
  right: -18px;
}
