:root{
    --primary-color: #32127A;
    --secondary-color: #FAEEDD;
    --accent-color: #00CCCC;
    --background-color: #2A2840;
    --content-background: rgba(115, 81, 132, 25);
    --font-family-main: 'Merriweather', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
.button{
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-family: var(--font-family-main);
    font-size: 14px;
}
.header{
    background-color:var(--primary-color);
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    top: -100px;
    z-index: 100;
    transition: top 0.3s ease;
    
}
.header.visible{
    top: 0;
    transition: top 0.3s;
}
.logo{
    margin-left: 136px;
    height: 100%;
    position: static;
}
.search{
    display: flex;
    width: 440px;
    height: 38px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-family-main);
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.search:hover{
    box-shadow: inset 0 0 10px var(--accent-color), 0 0 5px var(--background-color);
}
.log_in{
    right: 236px;
    width: 120px;
    height: 38px;
    top: 19px;
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-family: var(--font-family-main);
    font-size: 14px;
}
.sign_up{
    top: 19px;
    right: 69px;
    width: 155px;
    height: 38px;
    margin-left: 12px;
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-family: var(--font-family-main);
    font-size: 14px;
}
.log_in:hover, .sign_up:hover{
    border: 2px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--accent-color);
    letter-spacing: 0.02em;
}
/* затемнение */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
}

/* само окно */
.modal {
    background: #082567;
    width: 773px;
    height: 500px;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-color: 1px solid #00CCCC;
    box-shadow: inset 0 0 10px var(--accent-color);
}

/* крестик */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
}

/* показать модал */
.overlay.active {
    display: flex;
}

/* инпуты */
.modal input {
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: var(--font-family-main);
    font-size: 24px;
    width: 461px;
    height: 62px;
    background-color: var(--secondary-color);
    top: 50%;
    transform: translate(0%, 50%);
}
.hidden{
    display: none;
}
/* кнопка */
.submit {
    cursor: pointer;
    width: 245px;
    height: 37px;
    border-radius: 10px;
    background-color: #20214F;
    color: var(--secondary-color);
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(110%, 200%);
    font-family: var(--font-family-main);
    font-size: 24px;
}
.submit:hover{
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    color: var(--secondary-color);
    border-radius: 10px;
}
#modalTitle{
    font-family: var(--font-family-main);
    font-size: 40px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 50px;
}
.error {
  color: red;
  font-size: 20px;
  margin-top: 5px;
  position: absolute;
}

.input-error {
  border: 1px solid red;
}
#profileBlock{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 69px;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--font-family-main);
    font-size: 20px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
    height: auto;
    margin-top: 63px;
    background-color: rgba(115, 81, 132, 0.4)
    
}
.search-zone{
    width: 25%;
    height: auto;
    background-color: #D9D9D9;
}
.navigation{
    display: flex;
    gap: 20px;
    margin-top: 62px;
    margin-left: 55px;
}
.main_button{
    display: block;
    text-decoration: none;
    width: 198px;
    height: 51px;
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    font-family: var(--font-family-main);
    font-size: 36px;
    color: black;
    transition: all .3s ease; 
}
.main_button:hover{
    cursor: pointer;
    letter-spacing: 0.02em;
    box-shadow: inset 0 0 20px var(--accent-color), 0 0 5px var(--background-color);
    color: var(--secondary-color);
    border-radius: 10px;
}
.main_button.active {
    border: 2px;
    border-style: solid;
    border-color: var(--accent-color);
    box-shadow: inset 0 0 10px var(--accent-color), 0 0 10px var(--background-color);
    
}
.film_list{
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    width: 76%;
    height: auto;
    margin-left: 55px;
    margin-top: 62px;
    position: relative;
}
.film{
    display: flex;
}
.title-img{
    width: 253px;
    height: 342px;
}
.title{
    text-decoration: none;
    font-family: var(--font-family-main);
    font-size: 16px;
    color: var(--secondary-color);
    font-style: normal;
    margin-top: 9px;
}
.film_min_info{
    width: 253px;
    height: 342px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: var(--font-family-main);
    font-size: 16px;
    color: var(--secondary-color);
    text-align: center;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    text-decoration: none;
}
.film:hover .film_min_info{
    opacity: 1;
    transition: 0.3s;
}
.star {
    top: 3px;
    right: 5px;
    font-size:60px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    display: inline-flex;        
    line-height: 1;
    color: transparent;
        -webkit-text-stroke: 1.5px #000000;
}

.star:not(.active):hover {
    color: #c9a400; 
}

.star.active {
    color: #ffd700; 
        -webkit-text-stroke: 1.5px black;
}

/* Стилі для перегляду фільмів */

.film_poster{
    width: 327px;
    height: 462px;
}
.film_info{
    margin-left: 56px;
    margin-top: 76px;
    display: flex;
}
.film_details{
    margin-left: 21px;
    flex: 1;
    min-width: 0;
}
.main_title{
    font-family: var(--font-family-main);
    font-size: 40px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
h4{
    font-family: var(--font-family-main);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom: 0;
}
.info_list{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--font-family-main);
    font-size: 24px;
    color: white;
    flex: 1;
    min-width: 0;
    margin-top: 30px;
}
li{
    margin-bottom: 28px;
}
.text{
    flex: 1;
    font-family: Tuffy, sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    max-width: 813px;
    background-color: rgba(62, 48, 143, 0.5);
    height: auto;
    border-radius: 10px;
    margin-left: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 29px;
    padding-right: 29px;
}
.film_video{
    width: 875px;
    height: 554px;
    background-color: #000000;
    margin-left: 50px;
    border-radius: 0 0 10px 10px;
    cursor: url("./images/playcursore.png") 16 16, pointer;
}