:root{
    --primary-color: #32127A;
    --secondary-color: #FAEEDD;
    --accent-color: #00CCCC;
    --background-color: #2A2840;
    --content-background: rgba(115, 81, 132, 25);
    --font-family-main: 'Merriweather', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
button{
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-family: var(--font-family-main);
    font-size: 14px;
}
.header{
    background-color:var(--primary-color);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 136px;
    height: 100%;
    position: static;
}
.search{
    display: block;
    width: 440px;
    height: 38px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-family-main);
    font-size: 12px;
    color: var(--secondary-color);
    margin-left: 279px;
}
.log_in{
    right: 236px;
    top: 35px;
    width: 120px;
    height: 38px;
}
.sign_up{
    right: 69px;
    top: 35px;
    width: 155px;
    height: 38px;
    margin-left: 12px;
}
.log_in:hover, .sign_up:hover{
    border: 2px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--accent-color);
    letter-spacing: 0.02em;
}
.content{

    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top: 63px;
    background-color: var(--content-background);
}
.search-zone{
    width: 317px;
    height: 1000px;
    background-color: #D9D9D9;
}
.navigation{
    display: flex;
    gap: 20px;

}
.main_button{
    display: block;
    text-decoration: none;
    width: 198px;
    height: 51px;
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    font-family: var(--font-family-main);
    font-size: 36px;
    color: var(--secondary-color);
}
.main_button:hover{
    border: 2px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--accent-color);
    letter-spacing: 0.02em;
    box-shadow: inset 0 0 10px var(--accent-color), 0 0 10px var(--background-color);
}